@use "@angular/material" as mat;

@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  @apply mx-auto max-w-screen-2xl;
}

.mdc-notched-outline__notch {
  border-right-style: none !important;
}

button {
  border-radius: 7px !important;
  cursor: pointer;

  &.mat-mdc-outlined-button,
  &.mat-mdc-button:not(:disabled) {
    color: #7e22ce !important;
  }

  &.mat-mdc-unelevated-button:not(:disabled) {
    background-color: #7e22ce !important;
  }
}
.mat-mdc-snack-bar-container.snack-error {
  --mdc-snackbar-container-color: red;
  --mat-snack-bar-button-color: #fff !important;
  --mdc-snackbar-supporting-text-color: #fff !important;
  .mat-mdc-button:not(:disabled) {
    color: #fff !important;
  }
}

.mat-mdc-snack-bar-container.snack-success {
  --mdc-snackbar-container-color: green;
  --mat-snack-bar-button-color: #fff !important;
  --mdc-snackbar-supporting-text-color: #fff !important;
  .mat-mdc-button:not(:disabled) {
    color: #fff !important;
  }
}
