<div class="w-full">
    <mat-radio-group
        [value]="cartService.selectedDelivery()?.id"
        (change)="updateDeliveryMethod($event.value)"
        class="grid grid-cols-1 sm:grid-cols-2 gap-3 sm:gap-4">
        @for (method of checkoutService.deliveryMethods; track method.id) {
            <label class="p-3 border border-gray-200 rounded cursor-pointer w-full h-full hover:bg-purple-100 transition-colors">
                <mat-radio-button
                    class="w-full h-full"
                    [checked]="cartService.selectedDelivery() === method"
                    [value]="method">
                    <div class="flex flex-col w-full h-full">
                        <strong class="text-sm sm:text-base">{{method.shortName}} - {{method.price | currency}}</strong>
                        <span class="text-xs sm:text-sm mt-1">{{method.description}}</span>
                    </div>
                </mat-radio-button>
            </label>
        }
    </mat-radio-group>
</div>