<div class="w-full max-w-3xl mx-auto ">
  <div class="mt-4 w-full">
    <h4 class="text-lg font-semibold">Billing and delivery information</h4>
    <div class="mt-2 grid grid-cols-1 md:grid-cols-2 gap-6">
      <dl>
        <dt class="font-medium">Shipping address</dt>
        <dd class="mt-1 text-gray-500">
          {{ confirmationToken?.shipping | address }}
        </dd>
      </dl>
      <dl>
        <dt class="font-medium">Payment details</dt>
        <dd class="mt-1 text-gray-500">
          {{ confirmationToken?.payment_method_preview | paymentCard }}
        </dd>
      </dl>
    </div>
  </div>

  <div class="mt-6 mx-auto">
    <div class="border-b border-gray-200">
      <div class="md:hidden">
        @for (item of cartService.cart()?.items; track item.productId) {
        <div class="py-4 border-t border-gray-200 first:border-t-0">
          <div class="flex items-center justify-between">
            <div class="flex items-center gap-3">
              <img
                src="{{ item.pictureUrl }}"
                alt="product image"
                class="w-12 h-12 object-cover rounded"
              />
              <div class="text-left">
                <div>{{ item.productName }}</div>
                <div class="text-sm text-gray-500">
                  Qty: {{ item.quantity }}
                </div>
              </div>
            </div>
            <div class="font-medium">{{ item.price | currency }}</div>
          </div>
        </div>
        }
      </div>

      <table class="hidden md:table w-full">
        <thead>
          <tr class="border-b border-gray-200">
            <th class="py-3 text-left">Product</th>
            <th class="py-3 text-center">Quantity</th>
            <th class="py-3 text-right">Price</th>
          </tr>
        </thead>
        <tbody class="divide-y divide-gray-200">
          @for (item of cartService.cart()?.items; track item.productId) {
          <tr>
            <td class="py-4">
              <div class="flex items-center gap-4">
                <img
                  src="{{ item.pictureUrl }}"
                  alt="product image"
                  class="w-10 h-10 object-cover rounded"
                />
                <span>{{ item.productName }}</span>
              </div>
            </td>
            <td class="p-4 text-center">{{ item.quantity }}</td>
            <td class="p-4 text-right">{{ item.price | currency }}</td>
          </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
</div>
